@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #336394;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.title {
  font-size: 24px;
  font-weight: bold;
}

.profile-dropdown {
  position: relative;
}

.menu-section {
  display: flex;
  gap: 15px;
  padding: 20px;
  align-items: center;
}

.menu-dropdown,
.extra-button {
  position: relative;
}

.dropbtn {
  background: #333;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
}

.dropbtnp {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
}

.profile-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 150px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
  display: block;
}

.arrow {
  margin-left: 5px;
}
